<section class="container py-5">
  <div class="content-left">
    <h1 class="name">Celeste García Arenas</h1>
    <h2 class="subtitle">Desarrolladora Web Full Stack</h2>
    <p class="description">
      Transformo ideas en soluciones web elegantes y funcionales, combinando creatividad y atención al detalle. Diseño experiencias digitales visualmente atractivas, con rendimiento óptimo y usabilidad intuitiva, siempre adaptadas a las necesidades de cada cliente para impulsar el crecimiento de su negocio.
    </p>
    
    <div class="buttons">
      <button routerLink="/portafolio" class="btn btn-primary">Ver Proyectos</button>
     
    </div>
    <div class="social-icons">
      <a href="https://linkedin.com/in/celeste-garcía-arenas" target="_blank" aria-label="LinkedIn" rel="noopener noreferrer">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/CelesteGarciaArenas" target="_blank" aria-label="GitHub" rel="noopener noreferrer">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>

  <div class="content-right">
    <img src="assets/foto-celeste.jpg" alt="Celeste García" class="profile-photo" />
  </div>
</section>
